h1{
    color: green; 
    font-family: sans-serif;
}

p{
    color: darkmagenta;
    font-family: fantasy;
}
ul {list-style-type: circle;
}
ol {list-style-type: upper-roman
}

#menu-bar a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}
    